In [151]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [152]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1040,tt1596365,17000000,127730736,The Woman in Black,Daniel Radcliffe|CiarÃ¡n Hinds|Sidney Johnston...,James Watkins,What did they see?,"The story follows a young lawyer, Arthur Kipps...",95,Drama|Horror|Thriller,Hammer Film Productions|UK Film Council|Allian...,2/1/2012,6.1,2012
1443,tt0457939,85000000,194168700,The Holiday,Cameron Diaz|Kate Winslet|Jude Law|Jack Black|...,Nancy Meyers,It's Christmas Eve and we are going to go cele...,"Two women, one (Cameron Diaz) from America and...",136,Comedy|Romance,Columbia Pictures|Universal Pictures|Waverly F...,12/8/2006,6.7,2006
1732,tt0423294,85000000,149044513,Surf's Up,Shia LaBeouf|Jeff Bridges|Zooey Deschanel|Jon ...,Ash Brannon|Chris Buck,"In the coldest place on Earth, he's the hottes...",Cody is a surfing penguin from Shiverpool who ...,85,Animation|Comedy|Family,Sony Pictures Animation,6/8/2007,5.9,2007
962,tt0259288,60000000,52322400,Dragonfly,Kevin Costner|Joe Morton|Ron Rifkin|Susanna Th...,Tom Shadyac,When someone you love dies... are they gone fo...,A grieving doctor is being contacted by his la...,104,Drama,Universal Pictures|Spyglass Entertainment|Shad...,2/22/2002,6.2,2002
1217,tt1911644,13000000,68572378,The Call,Halle Berry|Abigail Breslin|Morris Chestnut|Mi...,Brad Anderson,There are 188 million 911 calls a year. This o...,Jordan Turner (Halle Berry) is an experienced ...,94,Thriller,TriStar Pictures|WWE Studios|Troika Pictures|E...,3/14/2013,6.6,2013

In [153]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [154]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [155]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #"+"

In [156]:
display(data[data['budget'] == data.budget.max()])
display(data[data['budget'] == data.budget.max()].original_title.values[0])
display(data[data['budget'] == data.budget.max()].imdb_id.values[0])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

'Pirates of the Caribbean: On Stranger Tides'

'tt1298650'

ВАРИАНТ 2

In [157]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [158]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'  #"+"

In [159]:
display(data[data['runtime'] == data.runtime.max()])
display(data[data['runtime'] == data.runtime.max()].original_title.values[0])
display(data[data['runtime'] == data.runtime.max()].imdb_id.values[0])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

'Gods and Generals'

'tt0279111'

# 3. Какой из фильмов самый короткий (в минутах)?

In [160]:
display(data[data['runtime'] == data.runtime.min()])
display(data[data['runtime'] == data.runtime.min()].original_title.values[0])
display(data[data['runtime'] == data.runtime.min()].imdb_id.values[0])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

'Winnie the Pooh'

'tt1449283'

In [161]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' #"+"

# 4. Какова средняя длительность фильмов?

In [162]:
display(round(data.runtime.mean()))

110

In [163]:
answers['4'] = '110' #"+"

# 5. Каково медианное значение длительности фильмов?

In [164]:
display(round(data.runtime.median()))

107

In [165]:
answers['5'] = '107' #"+"

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [166]:
data[data['profit'] == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [167]:
answers['6'] = '239. Avatar (tt0499549)' #"+"

# 7. Какой фильм самый убыточный?

In [168]:
data[data['profit'] == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [169]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' #"+"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [170]:
data[data['profit'] > 0].original_title.count()

1478

In [171]:
answers['8'] = '1478' #"+"

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [172]:
display(data[data.revenue == data[data.release_year == 2008].revenue.max()])
data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title.iloc[0]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

'The Dark Knight'

In [173]:
answers['9'] = '599 The Dark Knight (tt0468569)' #"+"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [174]:
display(data[data.profit == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()])
data[data.profit == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()].original_title.iloc[0]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

'The Lone Ranger'

In [175]:
answers['10'] = '1245 The Lone Ranger (tt1210819)' #"+"

# 11. Какого жанра фильмов больше всего?

In [176]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [177]:
data1=data.copy()
data1['genres_list']=data1['genres'].str.split('|')
data1 = data1['genres_list']
data1 = data1.explode('genres_list')
data1.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres_list, dtype: int64

In [178]:
answers['11'] = 'Drama' #"+"

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [179]:
data1 = data[data['profit'] > 0].copy()
data1['genres_list']=data1['genres'].str.split('|')
data1 = data1['genres_list']
data1 = data1.explode('genres_list')
data1.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_list, dtype: int64

In [180]:
answers['12'] = 'Drama' #"+"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [181]:
data_13 = data.copy()
data_13['director'] = data_13['director'].str.split('|')
data_13 = data_13.explode('director')
data_13.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [182]:
answers['13'] = 'Peter Jackson' #"+"

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [183]:
data_action = data[data.genres.str.contains('Action')].copy()
data_action['director'] = data_action['director'].str.split('|')
data_action = data_action.explode('director')
data_action.director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Stephen Norrington    1
Wayne Kramer          1
Peter Spierig         1
Rob Letterman         1
John Luessenhop       1
Name: director, Length: 364, dtype: int64

In [184]:
answers['14'] = 'Robert Rodriguez' #"+"

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [185]:
data_15 = data[data['release_year'] == 2012].copy()
from collections import Counter
ap_counter = Counter()

for i in range (len(data_15)):
    temp_list = data_15.iloc[i]['cast'].split('|')
    for actor in temp_list:
        ap_counter[actor] +=  data_15.iloc[i]['revenue']

ap_counter.most_common(1)

[('Chris Hemsworth', 2027450773)]

In [186]:
answers['15'] = 'Chris Hemsworth' #"+"

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [187]:
data_16 = data[data['budget'] > data.budget.mean()].copy()
data_16['cast'] = data_16['cast'].str.split('|')
data_16 = data_16.explode('cast')
display(data_16.cast.value_counts(ascending=False))

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Aziz Ansari           1
Bai Ling              1
Cindy Cheung          1
Mindy Sterling        1
50 Cent               1
Name: cast, Length: 1505, dtype: int64

In [188]:
answers['16'] = 'Matt Damon' #"+"

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [189]:
data_17 = data.copy()
data_17['cast'] = data_17['cast'].str.split('|')
data_17 = data_17.explode('cast')
data_17 = data_17[data_17.cast.str.contains('Nicolas Cage')].copy()
data_17['genres'] = data_17['genres'].str.split('|')
data_17 = data_17.explode('genres')
data_17.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

In [190]:
answers['17'] = 'Action' #"+"

# 18. Самый убыточный фильм от Paramount Pictures

In [191]:
data_18 = data.copy()
data_18['profit'] = data_18['revenue'] - data_18['budget']
data_18['production_companies'] = data_18['production_companies'].str.split('|')
data_18 = data_18.explode('production_companies')
data_18_buf = data_18[data_18.production_companies.str.contains('Paramount Pictures')].copy()
data_18_buf[data_18_buf['profit'] == data_18_buf.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [192]:
answers['18'] = 'K-19: The Widowmaker' #"+"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [193]:
data_19 = data.copy()
data_19.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [194]:
answers['19'] = '2015' #"+"

# 20. Какой самый прибыльный год для студии Warner Bros?

In [195]:
data_20 = data.copy()
data_20['profit'] = data_20['revenue'] - data_20['budget']
data_20['production_companies'] = data_20['production_companies'].str.split('|')
data_20 = data_20.explode('production_companies')
data_20_buf = data_20[data_20.production_companies.str.contains('Warner Bros')].copy()
data_20_buf.groupby('release_year').profit.sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [196]:
answers['20'] = '2014' #"+"

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [197]:
data_21 = data.copy()
data_21['release_date'] = data_21.release_date.str.split('/')
data_21['month'] = data_21['release_date'].apply(lambda x: x[0])
data_21.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [198]:
answers['21'] = '9' #"+"

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [199]:
data_22 = data.copy()
data_22['release_date'] = data_22.release_date.str.split('/')
data_22['month'] = data_22['release_date'].apply(lambda x: x[0])
len(data_22.loc[data_22['month'].isin(['6', '7', '8'])])

450

In [200]:
answers['22'] = '450' #"+"

# 23. Для какого режиссера зима – самое продуктивное время года?

In [201]:
data_23 = data.copy()
data_23['director'] = data_23['director'].str.split('|')
data_23 = data_23.explode('director')
data_23['release_date'] = data_23.release_date.str.split('/')
data_23['month'] = data_23['release_date'].apply(lambda x: x[0])
data_23_buf = data_23.loc[data_23['month'].isin(['12', '1', '2'])].copy()
data_23_buf.director.value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Nancy Meyers         4
                    ..
Ed Gass-Donnelly     1
James Duffy          1
Peter Spierig        1
Rob Letterman        1
Jessie Nelson        1
Name: director, Length: 358, dtype: int64

In [202]:
answers['23'] = 'Peter Jackson' #"+"

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [203]:
data_24 = data.copy()
data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')
data_24['title_len'] = data_24['original_title'].apply(lambda x: len(x))
display(data_24.title_len.max())
data_24.groupby('production_companies').title_len.max().sort_values(ascending=False)

83

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: title_len, Length: 1771, dtype: int64

In [204]:
answers['24'] = 'Four By Two Productions' #"+"

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [205]:
data_25 = data.copy()
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')
data_25['overview_len'] = data_25['overview'].apply(lambda x: x.split()).apply(len)
data_25 = data_25.explode('production_companies').groupby('production_companies').overview_len.mean()
data_25[data_25 == data_25.max()]

production_companies
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

In [206]:
answers['25'] = 'Midnight Picture Show' #"+"

26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [207]:
data_26 = data.copy()
q99 = data_26['vote_average'].quantile(0.99)
display(q99)
data_26 = data_26[data_26['vote_average'] > q99]
data_26['original_title']

7.8

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [208]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #"+"

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

Требуется разбор решения задания 27

ВАРИАНТ 2

# Submission

In [209]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599 The Dark Knight (tt0468569)',
 '10': '1245 The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [210]:
# и убедиться что ни чего не пропустил)
len(answers)

26